<footer class="footer section">
    <div class="container">
        <div class="links">
            <a href="#">Facebook</a>
            <a href="#">Facebook</a>
            <a href="#">Facebook</a>
            <a href="#">Facebook</a>
        </div>
    </div>
    <div class="container">
        <div class="link">
            <a href="#">Facebook</a>
            <a href="#">Facebook</a>
            <a href="#">Facebook</a>
            <a href="#">Facebook</a>
        </div>
        <div class="last">
            <p>2020 all right reserved</p>
        </div>
    </div>
</footer>