<main class="header section">
    <div class="container">
        <div class="logo">
            <a href="#">Elated</a>
        </div>
        <div class="toplinks">
            <a href="#">home</a>
            <a href="#">features</a>
            <a href="#">travel</a>
            <a href="#">about</a>
            <a href="#">contact</a>
        </div>
        <div class="find">
            <a href="#"><img src="images/ast4/icon.jpg"/></a>
            <a href="#"><img src="images/ast4/icon.jpg"/></a>
            <a href="#"><img src="images/ast4/icon.jpg"/></a>
            <a href="#"><img src="images/ast4/icon.jpg"/></a>
            <a href="#"><img src="images/ast4/icon.jpg"/></a>
        </div>
    </div>
    <div class="container">
        <div class="advertisement">
            <h1>try out the perfect </h1>
            <h1>cold brew coffee ratio</h1>
            <p>what do i feed mowgli soli boli? should i have diet coke or coffee today?</p>
            <p>remember to call mom</p>
        </div>
        <div class="button">
            <a href="#">read more</a>
        </div>
    </div>
</main>